:root{

    --primary:#00d26a;
    --primary-hover:#00e878;

    --background:#0b0b0b;

    --card:#171717;

    --card-light:#1f1f1f;

    --border:#262626;

    --white:#ffffff;

    --gray:#a6a6a6;

    --danger:#ff4d4d;

    --radius:18px;

}